# built binaries
bin/
homeServer

# data file
data/data.json
backup/

# IDE files
# .vscode/
# .idea/

# vendor
vendor/

# OS stuff
.DS_Store

node_modules/
eslint.config.mjs
package-lock.json
package.json

file/files/swim.min.js
